.login-main-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .login-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }


  .signup-link {
    margin: 11px;
    font-size: 14px;
    color: #555;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .signup-link:hover {
    color: #007bff;
  }
  
  